 .hello {
     font-family: 'Courier New', Courier, monospace;
  }
  p {
      display: inline-flex;
      border: 0.1rem solid powderblue;
  }
  
  #first {
      display: inline-flex;
      margin-left: 200px;
  }